.book-details {
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.book-info {
  padding: 20px;
}

.book-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.book-author {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.book-description {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

.book-purchase-date,
.book-price {
  margin: 0;
  font-size: 16px;
  color: #888;
}
